<div class="mb-3">
    <label class="form-label">{{ label }}</label>
    <input
        type="text"
        class="form-control"
        [formControl]="controlOne"
        placeholder="Your first name here"
        (input)="doInput()"
        (blur)="doBlur()"
    />
</div>

<!--

================ [formControl]="controlOne" =======================

Set this vale to equal the one in the formControl in ts file
  public controlOne = new FormControl('');



========== (input)="doInput()" (blur)="doBlur()" ===================



 add these events and configure their actions from within the ts file.

  doInput() {
      this.onChange(this.controlOne.value);
  }

  doBlur() {
      this.onTouched();
  }


 -->
